doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title presentation-neural-network

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 Machine Learning
        img(src="images/machine-learning.gif")
      
      section
        h2 Etat des lieux
        h3 Les choses stylées qu'on fait aujourd'hui en machine learning
        ul.build.build-items
          li <a href="https://www.youtube.com/user/keeroyz">Two Minute Paper</a>
          li <a href="https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A">Siraj Raval</a>

      section
        h2 Bref historique
        ul.build.build-items
          li 1950: Premières idées suites aux travaux de turing.
          li 1980: Backpropagation
          li 1990: Regain d'interêt et Big Data
          
      section
        ul.build
          li 2000: Vers l'infini et au-delà
        img(src="images/machine-leaning-toystory.gif")
        
      section
        h2 Recognition
        ul.build.build-items
          li
            a(href="https://quickdraw.withgoogle.com/?locale=en_US#") Quickdraw ( doodles ) 
          li 
            a(href="https://www.talater.com/annyang/") Voice Recognition ( Annyang ) 
            
      section
        h3 Optical Caracter Recognition ( OCR )
        iframe(width="640",
        height="360", src="https://www.youtube.com/embed/jWh0FaRRZC4?rel=0&showinfo=0&start=72", frameborder="0",
        allow="autoplay; encrypted-media", allowfullscreen,
        data-volume="0")
      
      section
        h3 Image Recognition
        .images-inline
          img(src="images/visual-recognition.png")
          img(src="images/tennis-recognition.png")
        
        
        


      // END
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="https://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/PrismJS/prism">Prism</a>
        pre
          code.language-javascript.
            (function() {
              function hanoi(n, a, b, c) {
                return n ? hanoi(n - 1, a, c, b)
                    .concat([[a, b]])
                    .concat(hanoi(n - 1, c, b, a)) : [];
              }
              return hanoi(3, 'left', 'right', 'mid')
                .map(function(d) {
                  return d[0] + ' -&gt; ' + d[1];
                });
            })();

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>data-bespoke-hash</em> attribute.
      section
        h2.bullet Just the beginning…
        ul.build.build-items
          li Edit <a href="https://pugjs.org">Pug (formerly Jade)</a> markup in <em class="path">src/index.pug</em>
          li Edit <a href="http://stylus-lang.com">Stylus</a> styles in <em class="path">src/styles/user.styl</em>
          li Edit JavaScript in <em class="path">src/scripts/main.js</em>
        br
        ul.build
          li
            strong Enjoy! :)
            a(href='https://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
